#chatbox{
    height: 300px;
    background-image: url(assets/wallpaper.jpg);
    overflow-y: auto;
}
#chatheader{
    background: linear-gradient(to bottom right, rgba(13,110,253,1) 35%, rgba(0,212,255,1) 100%);
    height: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
#msgbox{
    display: flex;
    background: #f4f4f4;
    align-items: center;
    padding: 10px;
}

#chat{
 padding: 10px;
}


.mensajer{
    background-color: white;
    padding:  0.4rem;
    border-radius: 0.3rem;
    text-shadow: 1px 1px 0.5px rgba(152, 150, 207, 0.7);   
    margin: 0.5rem;
    display: inline-block;
    hyphens: auto;
    word-wrap: break-word;
    word-break: break-word;
    text-align: left;
}

.mensajes{
    background-color: #5dc1b9;
    padding:  0.4rem;
    border-radius: 0.3rem;
    text-shadow: 1px 1px 0.5px rgba(152, 150, 207, 0.7);   
    margin: 0.5rem;
    display: inline-block;
    hyphens: auto;
    word-wrap: break-word;
    word-break: break-word;
    text-align: right;

}

#mensajebox{
    padding: 0.6rem;
    font-family: 'Noto Sans JP', sans-serif;   
}

.rmsgbox{
    text-align: left;
}
.smsgbox{
    text-align: right;
}

.jgroup{
    color: white;
    padding: 1rem;
    text-align: center;
}
.jform{
    margin: 1rem;
    border-radius: 10px;
    background: linear-gradient(to bottom right, rgba(2,0,36,1) 0%, rgba(121,9,92,1) 35%, rgba(0,212,255,1) 100%);
    -webkit-box-shadow: 11px 14px 24px -4px rgba(0,0,0,0.45);
    -moz-box-shadow: 11px 14px 24px -4px rgba(0,0,0,0.45);
    box-shadow: 11px 14px 24px -4px rgba(0,0,0,0.45);
}

/*
SCROLLBAR
*/
#chatbox::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#chatbox::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

#chatbox::-webkit-scrollbar-thumb
{
	border-radius: 60px;
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.44, rgb(122,153,217)),color-stop(0.72, rgb(73,125,189)),color-stop(0.86, rgb(28,58,148)));
}
